<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Pixiewire Co</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="../static/css/styles.css">
        <title>Pixiewire Co | {% block title %} {% endblock %}</title>
    </head>
    <body>
        <header>
            <input type="checkbox" name="" id="toggler">
            <label for="toggler" class="fas fa-bars"></label>

            <a href="#" class="logo">Pixiewire<span>.</span>Co</a>

            <nav class="navbar">
                <a href="#home">Home</a>
                <a href="#about">About</a>
                <a href="#products">Products</a>
                <a href="#review">Review</a>
                <a href="#contact">Contact</a>
            </nav>

            <div class="search-bar">
                <i class="fas fa-search"></i>
                <input type=text placeholder="Search">
            </div>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-shopping-cart"></a>
                <div class="dropdown" id="profileDropdown" data-bs-toggle="dropdown">
                    <a href="#" class="fas fa-user"></a>
                    <ul class="dropdown-menu">
                        {% if current_user.is_authenticated %}
                        <li><a class="dropdown-item" href="/profile/{{ current_user.id }}">Profile <i class="fas fa-user"></i></a></li>
                        <li><a class="dropdown-item" href="#">Orders <i class="fas fa-truck"></i></a></li>
                        <li><a class="dropdown-item" href="/logout">Log Out <i class="fas fa-arrow-right"></i></a></li>
                        {% else %}
                        <li><a class="dropdown-item" href="/login">Login <i class="fas fa-arrow-left"></i></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </header>
        <section class="profile" id="profile">
            <h1 class="heading"> <span>⋆. 𐙚 ˚ profile ⋆. 𐙚 ˚</span> </h1>
            <div class="row">
                <div class="image">
                    <img src="../static/images/pixiewire.png" alt="">
                </div>  
                <div class="content">
                    <h3>username : {{ current_user.username }}</h3>
                    <p>email : {{ current_user.email }}</p>
                </div>
            </div>
        </section>
                    
