{% extends 'forms.html' %}
{% block title %}Sign Up{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}  

{% block body %}
<section class="auth-form">
    <div class="wrapper">
        <form method="post" action="{{ url_for('auth.sign_up') }}">
            {{ form.hidden_tag() }}
            <h1>Sign Up</h1>

            <div class="input-box">
                {{ form.email.label }}
                {{ form.email(class="form-control") }}
                <i class="fas fa-envelope"></i>
            </div>

            <div class="input-box">
                {{ form.username.label }}
                {{ form.username(class="form-control") }}
                <i class="fas fa-user"></i>
            </div>

            <div class="input-box">
                {{ form.password1.label }}
                {{ form.password1(class="form-control") }}
                <i class="fas fa-lock"></i>
            </div>

            <div class="input-box">
                {{ form.password2.label }}
                {{ form.password2(class="form-control") }}
                <i class="fas fa-lock"></i>
            </div>

            <button type="submit" class="btn">Sign Up</button>

            <div class="register-link">
                <p>Already have an account? <a href="{{ url_for('auth.login') }}">Log In</a></p>
            </div>
        </form>
    </div>
</section>
{% endblock %}
